.clear {clear:both;}
body	{margin:0; font-family:Roboto; position:relative;}
.main-home{	width:100%;height:100%;border:0px solid #111111;margin:0 auto;/*background:url("../images/1.png");background-size:100% 100%;*/position:relative;
		font-family:Roboto;margin-top:0px;}
.nav_main-home	{	width:100%;height:;border:0px solid #111111;margin:0 auto;/*background:url("../images/1.png");background-size:100% 100%;*/position:relative;
		font-family:Roboto;margin-top:0px;}

.nav_home	{position:relative;	width:100%;min-height:768px;border:1px solid #111111;margin:0 auto;
/*background:url("../images/1.png");background-size:100% 100%;*/position:relative;
		font-family:Roboto;margin-top:0px;/*transition:width 2s;
transition-timing-function:linear;*/
/* Safari */
/*-webkit-transition:width 2s;
-webkit-transition-timing-function:linear;*/}
.total	{width:100%;margin:0 auto;border:0px solid red;}
.main-loading{	width:100%;height:100%;border:0px solid red;padding-top:50px;margin:0 auto;/*background:url("../images/1.png");*//*opacity:1*/;
				/*background-size:100% ;*/font-family:Roboto;}
.logo-1{	width:65%;margin:0 auto;margin-top:6%;}
.logo-home{	width:150px;margin:10px auto;/*padding-top:40px;*/}
.home_address{	width: 97%;margin:0 auto;margin-top:7px;color:#ffffff;font-size:14px;text-align:center;}

.searchStarNew {
    float: left;
  /*  background: url('../images/newstar-grey.png') no-repeat scroll left center transparent;*/
    width: 109px;
    height: 16px;
    text-decoration: underline;
}
.orangeStar1New {
    float: left;
    background: url('../images/newstar.png') no-repeat scroll left center transparent;
    height: 16px;
    left: 0px;

    top: 0px;
}

.home_delivery {	width:100%; /*height: 55px;margin: 0px auto 0px;*/color:#111111;/*font-size:20px;*/text-align:center;border:0px solid red;}
.home_delivery-1	{ float:left; width:31%; /*height: 55px; margin: 0px auto 0px; background:#ffffff; border-radius:5px 0 0 5px;*/ border-radius: 3px; border: 1px solid rgba(40, 44, 46, 0.2); box-shadow: 0px 0px 0px 1px #FFF, 0px 2px 2px rgba(235, 235, 235, 0.75) inset; font-family: Roboto,Helvetica,Arial,sans-serif; font-size: 14px; line-height: 20px;}

.home_pickup	{float:left; width:31%; /*height: 55px;margin: 0px auto 0px;background:#ffffff;border-radius:0 5px 5px 0;opacity:.5;*/ border-radius: 3px; border: 1px solid rgba(40, 44, 46, 0.2); box-shadow: 0px 0px 0px 1px #FFF, 0px 2px 2px rgba(235, 235, 235, 0.75) inset; font-family: Roboto,Helvetica,Arial,sans-serif; font-size: 14px; line-height: 20px; margin-right:2%; margin-left:2%;}

.home_dinein	{float:left; width:31%; /*height: 55px;margin: 0px auto 0px;background:#ffffff;border-radius:0 5px 5px 0;opacity:.5;*/ border-radius: 3px; border: 1px solid rgba(40, 44, 46, 0.2); box-shadow: 0px 0px 0px 1px #FFF, 0px 2px 2px rgba(235, 235, 235, 0.75) inset; font-family: Roboto,Helvetica,Arial,sans-serif; font-size: 14px; line-height: 20px;}

.home_ch_items	{	width:90%;height:55px;margin:0 auto;margin-top:15px;color:#ffffff;font-size:20px;text-align:center;border:0px solid red;background:#73BA3A;border-radius:5px;}
.home_sp_offers	{ width:90%;height:55px;margin:0 auto;margin-top:50px;margin-bottom: 0px;color:#111111;font-size:20px;text-align:center;border:0px solid red;background:#73BA3A;border-radius:5px;  }
.home_sp_off	{width:100%;border:0px solid red;margin:0 auto;padding-top: 10px;font-size:20px;}
.home_sp_offers-1	{ float:left;width:;margin-top:9px;margin-right: 10px;}
.home_sp_offers-2	{ float:left;width:100%;color:#ffffff;font-size:20px; margin-top: 3px;/*font-family:opensans;*/}
.home _star	{width:25px;}
.home_delivery1-1	{padding: 6px;;color:#111111;}
.home_pickup1		{padding: 6px;;color:#111111;}
.home_dinein1		{padding: 6px;;color:#111111;}
.home_choose	{padding-top:13px;height: 45px;}
.menu_header	{width:100%;height:45px;background:black;border:0px solid red;padding-top:15px;}
.menu_nav_header	{width:100%;height:45px;background:#111111;border:0px solid red;}

.menu_header1	{width:100%;margin:0 auto;}
.yr_bag_header1	{width:100%;margin:0 auto;}
.details_header1	{width:100%;margin:0 auto;}

.review_header1	{width:100%;margin:0 auto;}
.details_header1	{width:100%;margin:0 auto;}

.menu_ex_header1	{width:100%;margin:0 auto;}
.social_menu_header1	{width:100%;margin:0 auto;}

.menu_menu_btn	{/*float:left;*/width: 100%;/*margin-top: 14px;margin-left: 10px;*/padding-top: 14px;}
.menu_review_btn	{float:left;width: 30px;margin-top: 14px;}

.menu_expand_btn	{float:left;width: 30px;margin-top: 14px;}

.social_btn1	{float:right;width: 30px;margin-top: 14px;margin-left: 10px;}
.menu_menu_btn_1	{float:left;width: 30px;margin-top: 14px;display:none;}
.social_nav_btn	{float:right;width: 21px;margin-top: 14px;}

.menu_choose_items	{float:left;color:#e3dede;font-size:20px;text-align:center;width:100%;margin-top:1px;margin-bottom:2px; margin-left:0px;}
.menu_nav_social	{float:left;color:#bb6be6;font-size:20px;text-align:center;width:100%;margin-top:6px; margin-left:0px;}

.menu_content	{height:80%;border:0px solid red;overflow:auto; padding:0; margin:0;}
.nav_content	{height:340px;border:0px solid red;overflow:auto;padding-top:20px;}
.menu_nav	{height:auto;border:0px solid red;overflow:auto;background:#FFFFFF;clear:both;}
.menu_content1	{/*height:44px;*/ border-bottom:1px solid #E1E1E1;width: 100%;margin: 0 auto; /*padding: 0px 0px 12px 0px;*/ padding: 0px 0px 5px; background: #ffffff;}
.menu_ex_content1	{background:#ffffff;height:45px;border-bottom:1px solid #E1E1E1;width: 100%;margin: 0 auto;}
.menu_ex_content2	{background:#ffffff;height:45px;border-bottom:1px solid #E1E1E1;width: 100%;margin: 0 auto;}
.menu_ex_content3	{background:#ffffff;height:45px;border-bottom:1px solid #E1E1E1;width: 100%;margin: 0 auto;}

.nav_content1	{height:45px;color:#ffffff;}
.menu_nav-1	{height:45px;border-bottom:1px solid #E1E1E1;width: 100%;margin: 0 auto;}
.social_nav-1	{height:45px;border-bottom:1px solid #E1E1E1;/*width: 100%;*/margin: 0 auto; padding-left:12px;}

.your_bag_content1	{background:#fbfbfb;/*height:45px;border-bottom:1px solid #E1E1E1;*/font-weight: bold;
	font-size: 12px;width: 97%;margin: 0 auto;	}

	.your_bag_content1_sub	{background:#fbfbfb;/*height:45px;border-bottom:1px solid #E1E1E1;*/font-weight: bold;
	font-size: 12px;width: 97%;margin: 0 auto;	}

	.your_bag_content1_border{background:#fbfbfb;height:6px;border-bottom:1px solid #E1E1E1;font-weight: bold;
	font-size: 12px;width: 100%;margin: 0 auto;	}

.review_content1	{background:#fbfbfb;border-bottom:0px solid #E1E1E1;font-weight: bold;font-size: 12px;}
.review_content1_1	{padding-top:10px;}

.your_bag_content2	{background:#ffffff; /*height:25px;*/ font-size:12px;width: 97%;margin: 0 auto;}
.menu_starters	{/*float:left;margin: 10px 0 0 0px;font-size: 18px; padding: 0 12px 0 12px;*/float: left; margin: 3px 0px 0px; font-size: 14px; padding: 0px 7px;}
.nav_starters	{width:50%;float:left;margin: 10px 0 0 10px;font-size: 17px;border-bottom: 1px solid gray;padding-bottom: 10px;}

.yr_bag_tot	{float:left;margin: 7px 0 7px 0px;font-weight:bold; /*padding-left: 12px;*/}
.yr_bg_select	{float:left;margin: 5px 0 0 0px;font-size: 18px;}

.your_bag_fsize1	{float:left; margin: 5px 0 0 0px; /*padding: 2px 0px 2px 0px;*/}
.menu_cotent_btn	{float:right; margin: 5px 0 0 0;padding: 0 0px 0 0;}

.your_bag_fsize1_sub	{float:left; margin: 3px 0 0 0px;}
.menu_cotent_btn_sub	{float:right; margin: 3px 0 0 0;}

.yr_bg_tot-price	{float:right;margin: 7px 0 7px 0;font-weight:bold;/*padding-right: 12px;*/}
.your_bag_txt	{float:right;margin: 5px 0 0 0;}
.menu_footer	{position:absolute;background:black;/*opacity:0.9;*/width:100%;height:55px;border:0px solid red;bottom:0px;}
.nav_footer	{position:absolute;width:100%;height:55px;border:0px solid red;bottom:0px;color:#ffffff;}
.nav_footer1	{width:30%;height:55px;color:#ffffff;margin-left:10px;font-size:12px;}

.yr_bag_footer	{	position:absolute;background:#111111;width:100%;height:124px;border:0px solid red;bottom:0px;}
.menu_footer_btn	{	float:left;width:32.30%;border-right:solid 1px #444444;height:55px;}
.menu_footer_btn1	{	float:left;width:32.30%;height:55px;}
.menu_footer_btn-1	{	width: width:32.30%;margin: 0 auto;margin-top: 10px;}
/*.menu_footer_btn-1:hover	{	background-image:url("../images/13.png");}*/
.xpand_foot2_txt	{	color:gray;}
.xpand_foot2_txt:hover	{	color:#7BC241;}

.menu_footer_btn1-1	{	width: 21px;margin: 0 auto;margin-top: 10px; }

.menu_expand {background:#569820;width:100%;border:0px solid red;}
.hide_show1_1	 {background:#569820;width:100%;border:0px solid red;}

.menu_expanded1	{background:#569820;width:90%;margin:0 auto;}

.menu_tacos	{float:left;color:#ffffff;font-size:20px;text-align:center;height:37px;margin-top:8px;width: 100px;margin-top: 8px;text-align: left;}
.menu_tacos_btn	{float:right;border:0px solid red;margin: 16px 0 0 0;}
.menu_xpan_pollo	{float:left;font-size:12px;color:#111111;font-weight:bold;}
.details_text1	{float:left;font-size:12px;color:#111111;font-weight:bold;margin-bottom:5px}

.menu_xpan_btn	{float:right;font-size:12px;color:#111111;font-weight:bold;}

.menu_xpaned_content2-1	{/*width:100%;*/margin:0 auto;/*padding-top:10px;*/ padding: 10px 12px 10px 12px;}
.details_cont2-1	{width:90%;margin:0 auto;padding-top:10px;}
.details_cont1{width:100%;margin:0 auto;padding-top:10px;}
.details_cont2	{width:100%;font-size:11px;margin: 10px 10px 0px ;margin:0 auto;}
.menu_xpaned_content2-2	{/*width:100%;*/font-size:11px;/*margin: 10px 10px 0px ;margin:7px auto;*/  /*padding: 10px 12px 10px 12px;*/  padding: 3px 12px 3px 12px;}
.menu_xpand_content {   max-height: 88%;border: 0px solid #F00;overflow: auto;background:#FFFFFF;	}
.menu_xpand_content1 {   max-height: 88%;border: 0px solid #F00;overflow: auto;background:#FFFFFF;	}
.hide_show1 {   max-height: 88%;border: 0px solid #F00;overflow: auto;background:#FFFFFF;display:none;}
.hide_show2 {   max-height: 88%;border: 0px solid #F00;overflow: auto;background:#FFFFFF;display:none;}
.hide_show3 {   max-height: 88%;border: 0px solid #F00;overflow: auto;background:#FFFFFF;display:none;}

.menu_xpand_content2 {   max-height: 88%;border: 0px solid #F00;overflow: auto;background:#FFFFFF;	}
.menu_xpand_content3 {   max-height: 88%;border: 0px solid #F00;overflow: auto;background:#FFFFFF;	}

.details_content {   /*height: 435px;*/  border: 0px solid #F00;overflow: auto;background:#FFFFFF;	}

.ypur-bag_content {   /*height: 331px;*/  border: 0px solid #F00;overflow: auto;background:#FFFFFF;	}
.review_content {   max-height: 80%;padding-bottom: 25px;  border: 0px solid #F00;overflow: auto;background:#FFFFFF;
							 overflow:auto;	}

.xpand_foot1	{float:left;}
.xpand_foot2	{float:left;color:#7BC241;margin: 10px 0 0 5px;}
.xpand_footer_btn1-1 {  width: 50px;margin: 0 auto;margin-top: 6px; }
.details_btn2	{/*padding:10px 0 0 0 ;*/ float: right; margin: -10px 12px 0 0;}
.details_btn1	{/*float:left;width: 30px;margin-top: 14px;*/ width: 30px; margin-left: 10px; padding-top: 14px;}
.details_content2	{width:90%;margin:0 auto;margin-top:10px;}
.details_content2-1	{float:left;}
.details_content2-1	{float:left;}
.details_content2-2	{float:left;margin: 7px;}
.details_content2-3	{float:left;}
.details_content-2	{float:left; margin-top: 2px;}
.details_content2-4	{float:right;width:150px;height:50px;background:#7BC241;border-radius:5px;}
.details_content24-1	{color:#ffffff;padding:15px 0 0 29px;}

.xpand_content2	{background:#fbfbfb;border:0px solid red;}
.xpand_content2_burritos	{background:#fbfbfb;border:0px solid red; display:none;}
.xpand_content2_burritos2	{background:#fbfbfb;border:0px solid red; display:none;}
.xpand_content2_burritos3	{background:#fbfbfb;border:0px solid red; display:none;}
.menu_ex_buri1 {display:none;} 

.menu_xpan_content2 {background:#F5F5F5;border-bottom: solid 1px black;padding-bottom: 10px;width:100%;margin:0 auto;}

.details_content3 {background:#fbfbfb; /*border-bottom: solid 1px #7BC241;*/ padding-bottom: 10px; border-bottom: solid 1px #7c8187;}
.details_cont3-1{/*border-bottom: solid 1px #7BC241;*/padding-bottom: 10px; border-bottom: solid 1px #7c8187;}

.details_addons-1	{font-weight:bold;height:30px;width: 90%;margin: 0 auto;}
.details_addons2-1	{float:left;font-size:13px;width:75%;}
.details_addons2-2	{float:right;/*width:20%;*/}
.details_addons2-3	{float:right; margin-left: 10px; margin-top: 4px;}
.details_addons-2	{border-bottom:1px solid #E1E1E1;height:30px;margin: 0 auto;width: 90%;}
.details_addons-4	{margin-top: 6px;margin: 0 auto;width: 90%;margin-top: 5px;}

.details_content4 {background:;padding-bottom: 10px;width: 90%;margin:0 auto}
.details_content5 {background:;padding-bottom: 10px;width: 90%;margin:0 auto}

.details_content3-1	{width:100%;margin:0 auto;padding-top:10px;}
.prev_details_addons-2	{width:100%;border-bottom: solid 1px #E1E1E1;}
.details_addons2	{width:90%;margin:0 auto;margin-bottom: 5px;}
.prev_details_addons-3	{width:100%;border-bottom: solid 1px #E1E1E1;}
.details_addons-3	{height:27px;margin: 0 auto;width: 90%;margin-top: 8px;}
.select_l_type	{margin-top:4px; width:120px; height:30px; border-radius:3px; border:1px solid #e6e6e6; padding: 5px; font-weight:normal; font-size:14px;}
.yr_bg_select_l_type	{/*width:120px;*/height:30px;border-radius:3px;border:1px solid #CBCDD1;text-align:center;
								  padding-top: 5px;padding-right: 8px;}
.your_bag_txt	{width:120px;height:30px;border-radius:3px;padding-left: 4px;/*padding-right: 10px;*/}
.select-wrapper {
    display:inline-block;
    border:1px solid #bbbbbb;
    position:relative;
    width:120px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    margin-top: 10px;
}
.select-wrapper:before{
    content: "";
    position:absolute;
    right: 5px;
    top:8px;
    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-color: #666666 transparent  transparent  transparent ;
    z-index:3;
}
.select-wrapper:after {
    content:"";
    display:block;
    position:absolute;
    top:0px;
    bottom:0px;
    width:20px;
    right:0px;
    border-left:1px solid #bababa;
    background-color:#ededed;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    -moz-border-bottom-right-radius:5px;
    border-bottom-right-radius:5px;
}
select {
    width:100%;
    /*background-color:#ededed;*/
    border:none;
    outline:none;
    padding:0px;
    margin:0px;
    position:relative;
}
.yr_bag_footer11_1	{float:left; width:50%;}
.yr_bag_footer11_2	{float:right;}
.yr_bag_footer2	{width:97%;height:30px;border-radius:5px;background:#7BC241;margin:0 auto;text-align:center;margin-top:10px;}
.yr_bag_footer1_1	{width:97%;margin:0 auto;margin-top:10px;}
.yr_p_code_txt	{height:30px;border-radius:2px;padding-left: 5px;width: 140px;}
.yr_bag_footer2_1	{color:#ffffff;border:0px solid red;padding-top: 5px;}
.review_d_adds	{width:97%;height:25px;border:1px solid #E1E1E1;background:#ffffff;margin:0 auto;
							border-radius:3px;padding-top: 7px;}
.review_d_adds-1	{float:left;padding-left: 5px; padding-top: 2px;	}
.review_d_adds-2	{float:right;	}
.review_d_adds2_1	{float:left; /*width:120px;*/	}
.review_d_adds2_2	{float:right;margin: 3px 5px 0 0;	}
.pop_up_main	{/*background:url("../images/1.png");background-size:320px 480px;*/font-family:Roboto;height:100%;
							width:100%;border:0px solid red;}
.pop_up1	{	padding-top:30%;margin:0 auto;}
.pop_up2{	width:80%;margin:0 auto;}
.pop_up2-1	{ width:100%;height:50%;border:0px solid red;background:#ffffff;border-radius: 5px;}
.pop_up21-1	{text-align:center;border-bottom:solid 1px #D7D7D7;font-size: 22px;padding: 7px;}
.pop_up21-2	 {width:100%;margin:20px 0 0 0;}
.pop_up212-1 {width:80%;border:solid 0px #D7D7D7;color:#D7D7D7;margin:0 auto;text-align:center;padding:5px 0 5px 0;border-radius:5px;}
.pop_up21-3	{width:100%;margin:3px 0 0 0;}
.pop_up213-1 {width:80%;border:solid 0px #D7D7D7;color:#D7D7D7;margin:0 auto;text-align:center;padding:5px 0 5px 0;border-radius:5px;}
.pop_up21-4	{width:100%;margin:3px 0 0 0;}
.pop_up214-1 {width:80%;border:solid 0px #D7D7D7;color:#D7D7D7;margin:0 auto;text-align:center;padding:5px 0 5px 0;border-radius:5px;}
.pop_up21-5	{}
.pop_up_txt	{ width:100%;height:30px;text-align:center;}
.pop_up21-5	{width:80%;margin:0 auto;margin-top:10px;}
.pop_up215-1	{float:left;}
.pop_up25-2	{float:right;}
.popup_btn	{width:90px;height:30px;background:#7BC241;color:#ffffff;border-radius:5px;}
.nav_iframe	{position:absolute;top:0px;left:80%;width:100%;}
a
{text-decoration:none; }
.your_bag_cont1	{border:0px solid red;background:#fbfbfb;}
/**----------------------------------------------------------------------------------*/

/* 04/072016 Edit */
.ErrorMessage{
	text-align: left;
	width: 100%;
	float: left;
	color: #F00;
}
#AutoSuggestion{
	position: absolute;
	z-index: 99;
	background: white;
	width: 100%;
}
#AutoSuggestion div{
	padding-top: 5px;
}
.autoload{
	position: absolute;
	right: 10px;
	top: 34px;
	display: none;
}
.field-set-label{
	background: #66FF33 !important;
}
#service_arr_picup{
	margin-top: 10px;
	margin-bottom: 48px;
}
#service_arr_dine{
	margin-bottom: 48px;
}
.new_div{
	background: none repeat scroll 0% 0% #F8F8F8 !important;
	border: 2px solid #FFF !important;
	border-radius: 10px !important;
	padding: 5px !important;
	margin-left: 3px !important;
	margin-right: 4px !important;
	margin-bottom: 5px !important;
}
.resHed{
	height: 23px;
	background: white;
	padding-left: 6px;
	padding-top: 4px;
	border-radius: 4px;
	color:#40BF15;
	margin-bottom: 6px;
	clear: both;
}
#table_body{
	margin-bottom: 15px;
	background: #FFFFFF;
}
#mn_details{
	margin-top: 8px;
}
.details_content2-4 button{
	margin-top: -23px !important;
	margin-bottom: 30px !important;
}

/**/

@media screen and (max-width:1024px) 
{
	/*.menu_choose_items	{width:81% !important;}
	.social_menu_header1 {    width:60%;   margin: 0 auto;}
	.your_bag_content1 {    width: 90%;    margin: 0 auto;	}
	.your_bag_content2 {    width: 90%;    margin: 0 auto;	}
	.yr_bag_footer1_1 {    width: 90%;	}
	.yr_bag_footer2 {    width: 90%;	}
	.your_bag_txt {    margin: 5px 0 0;	 }
	.review_d_adds {    width: 90%;	}	
	.menu_nav-1 {    width: 60%;    margin: 0 auto;	}
	.social_nav-1	{    width: 60%;    margin: 0 auto;	}
	.menu_menu_btn {    float: left;	}	
	.pop_up2-1 {    height: 260px;	}
	.menu_expanded1 {   width: 90%;    margin: 0 auto;	}
	.menu_xpan_content2 {   margin: 0 auto;    width: 100%;	}
	.menu_content1 {    width: 90%;    margin: 0 auto;	}
	.menu_footer1	{    width: 90%;    margin: 0 auto;text-align:center;	}
	.menu_ex_footer1	 {    width: 60%;    margin: 0 auto;text-align:center;	}
	.menu_ex_footer1	{    width: 100%;    margin: 0 auto;text-align:center;	}
	.xpand_footer_btn1-1 {    width: 50px;  margin: 0 auto;margin-top: 6px;	}
	.menu_tacos {    width: 60px;    	}
	.main-loading {    height: 100%; 	}
	.menu_footer_btn-1 {   margin: 0 auto;margin-top: 13px;	}
	.menu_xpaned_content2-1 {    width: 90%;	}	
	.menu_xpaned_content2-2 {    width: 90%;	}
	.details_cont1	{    width: 100%;	}
	.details_cont2	{    width: 100%;	}
	.details_cont2-1 {    font-size: 13px;	}
	.nav_home	{	width:1024;min-height:768px;	}
	.yr_bag_header1 {    width: 90%; }*/
		.main-home {   /*min-height: 768px;*/}
}
@media screen and (max-width:768px) 
{
	/*.logo-1 {    width: 65%;    margin: 18% auto 0px;}*/
		/*.main-home {   min-height: 1024px;}*/

		/*.your_bag_content1_sub	{background:#fbfbfb; height:45px;border-bottom:1px solid #E1E1E1; font-weight: bold;
		font-size: 12px;width: 90%;margin: 0 auto;	}
		.your_bag_content1_border { width: 90%; }*/
}
@media screen and (max-width:605px) 
{
	/*.menu_nav_social {    width: 87%;}*/
	/*.main-home {   /* min-height: 480px;*/}
	/*.your_bag_content1_sub	{/*background:#fbfbfb; height:45px;border-bottom:1px solid #E1E1E1; font-weight: bold;
		font-size: 12px;width: 100%;margin: 0 auto;	}
		.your_bag_content1_border { width: 100%; }*/

}
@media screen and (max-width:500px) 
{
	/*.social_menu_header1 {    width: ;  }
	.your_bag_content1 {    width:100%;   	}
	.your_bag_content2 {    width: 100%;    }	
	.review_d_adds {    width: 100%;	}	
	.menu_nav-1 {    width: 100%;  	}	
	.social_nav-1 {    width: 90%;  	}	
	.yr_bag_footer1_1 {    width: 100%;}
	.yr_bag_footer2 {    width: 100%;	}
	.review_d_adds {    width: 100%;	}
	.your_bag_content1 {    width: 100%;	}
	.your_bag_content2 {    width: 100%;	}
	.ypur-bag_content {    width: 100%;margin: 0 auto;	}
	.review_content	 {    width: 100%;margin: 0 auto;	}
	.social_menu_header1 {    width: 100%;}*/
		/*.nav_home {   min-height: 500px;	 }*/
		.main-home {  /* min-height: 500px;*/}
}
@media screen and (max-width:364px) 
{
	    /*.menu_nav_social {    width: 100%;	 }
		.nav_home {  min-height: 500px;	 }*/
		.main-home {    /*min-height: 480px;*/}
}
@media screen and (max-width:320px) 
{
	/*.menu_choose_items	{width:100% !important;}*/
	.main-home {   /* width: 320px;height: 480px;*/}
	/*.menu_content	{min-height:340px;}
	.menu_footer1 {    width: 100%;}
	.review_content	 {height:306px;}
	.logo-1 {    width: 100%;    margin: 30% auto 0px;}
	.nav_home {   height:100%;	 }
	.yr_bag_header1 {    width: 100%;	}
	.details_addons2-1 {    width: 100%;	}
	.menu_content1	{width: 100%;}
	.social_nav-1 {    width: 100%;  	}	
	.nav_footer {    top: 440px;	}
	.nav_home {   min-height: 480px;	}*/
}
.blank_div {text-align:center; height:auto; clear:both;}

		.login_div {
					width: 263px;
					margin: 0px auto;
					padding-left: 5px !important;
					padding-top: 10px !important;
					text-align: left;
				}.all_input_div {
    margin-top: 10px;
    margin-bottom: 5px;
}.login_input_div {
    margin-bottom: 10px;
}.password {
    border-radius: 5px !important;
    border: 1px solid #8B97A0 !important;
    height: 40px !important;
    width: 255px !important;
    padding: 0px 5px 0px 35px !important;
    background: url('../images/password_bg.png') no-repeat scroll left center #FFF !important;
    font-size: 14px !important;
    color: #BBB7B7 !important;
}.email {
    border-radius: 5px !important;
    border: 1px solid #8B97A0 !important;
    height: 40px !important;
    width: 255px !important;
    padding: 0px 5px 0px 35px !important;
    background: url('../images/email_bg.png') no-repeat scroll left center #FFF !important;
    font-size: 14px !important;
    color: #BBB7B7 !important;
}.submit_button {
    padding: 5px 15px;
    background: none repeat scroll 0% 0% #7BC241;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    border: 0px none;
}#forget_ancer, #register_ancer, #back_login_ancer1, #back_login_ancer {
    font-weight: normal;
	color:#000000;
}
.username {
    border-radius: 5px !important;
    border: 1px solid #8B97A0 !important;
    height: 40px !important;
    width: 255px !important;
    padding: 0px 5px !important;
    font-size: 14px !important;
    color: #BBB7B7 !important;
	}
	.short_menu {
   width: 100%;
	float: left;
	margin: 0px 0px 0px 0px;
	font-size: 17px;
	border-bottom: 2px solid #DFDFE2;
	padding: 10px;
	font-weight:normal;
}
.menu_mc {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: block;
    margin-top: 7px;
    padding-bottom: 10px;
   /* padding-top: 10px;*/
	background:#000000;
	background-image:url("../images/1_blur.jpg");
	background-size:100% 100%;
}
.short_menu a{
	color:#353534;
}
.ui-mobile, .ui-mobile .ui-page {
    min-height: 100% !important;
    }
#mapDiv{ z-index:999999; }

.fleft { float:left; }
.fright { float:right; }






/*import*/

input, select {
    font-family: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: inherit;
    font-size-adjust: inherit;
    font-stretch: inherit;
    -moz-font-feature-settings: inherit;
    -moz-font-language-override: inherit;
    font-size: 100%;
}
.input_wrap {
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    border: 1px solid #282828;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    margin-right: 7px;
    border-radius: 5px;
}

.input_wrap_inner {
    background-color: #FFF;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3) inset;
    display: inline-block;
    padding: 11px 14px;
    vertical-align: top;
}
input[type="submit"] {
    cursor: pointer;
}

input[type=password]:focus,
input[type=text]:focus,
textarea:focus,
select:focus { 
   border: 1px solid #B9B9B9;
   -webkit-box-shadow: -1px -1px 23px 0px #b9b9b9;
-moz-box-shadow:    -1px -1px 23px 0px #b9b9b9;
box-shadow:         -1px -1px 23px 0px #b9b9b9;
}

button.dapper-button {
    width: 98%;
margin-top: 0px;
font-size: 16pt;
font-weight: normal;
}
.primary-button {
    /*text-shadow: 0px -1px #659401;*/
background-color: #66FF33;
border-color: #66FF33;
background-image: linear-gradient(#66FF33 0px, #66FF33 100%);
}
.dapper-button {
    /*height: 40px;*/
    text-align: center;
    /*padding: 9px 15px;*/
    display: inline-block;
}
.dpr-select-text {
    white-space: nowrap;
    border-width: 1px;
    border-style: solid;
    -moz-user-select: none;
}
.inverted-search .dpr-field-input, .dapper-button, .dapper-button:hover, .secondary-button.active-item, .secondary-button.active-item:hover, .error-block, #toast .toast-container p, .card-block .for-credit .card-details span, .business-item.full .tag-large, .ordering-nav-block .nav-bag-count, .discovery-block h2, .discovery-block legend {
    color: #FFF;
}
.dapper-loader-view p, .dapper-empty-view p, .primary-button, .rounded-button, .inverted-search .dapper-button, .is-search .dpr-field-label, .is-search .dpr-field-input, .dapper-modal-body form.dapper-content-container .dapper-button, .customer-account-info .customer-full-name, #shareLinkModal .dapper-modal-body strong, .mobile-download span, .mobile-download legend, .current-bag-summary .order-receipt-total p, .bag-checkout-options .dapper-button, .business-profile-navigation .dapper-nav-link, .business-map-name, .checkout-order-actions button, .mobile .checkout-container .checkout-pickup-time .dpr-select-input select {
    font-size: 1.6rem;
    line-height: 1.25;
}
.dapper-button, .labeled-switch-button-group .switch-button-group .dapper-button, p.warning-message-block, p.notification-message-block, .dapper-panel-footer .dapper-button, .customer-account-info .customer-full-name, .card-block .for-payments .card-details span, .business-item.full .tag-large, .ordering-nav-block .nav-bag-count, .bag-items-collection-content .bag-item .item-options strong, .bag-items-collection-content .bag-item .item-request strong, .bag-checkout-options .dapper-button, .showcase-view .dapper-content-header .dapper-button, .business-map .directions-button-wrapper .business-directions-button, .checkout-sign-in button, .checkout-sign-up button, .checkout-order-actions button {
    font-weight: bold;
}
.dpr-field-input, .dpr-grouped-fields, .collection-group .collection-content, #menuItemPanel .collection-group .collection-content, .dapper-button, .is-select-field .dpr-select-text, .switch-button-group, .error-block, p.warning-message-block, p.notification-message-block, #toast .toast-container, .business-map .directions-button-wrapper .business-directions-button {
    border-radius: 3px;
}
.text-link:hover, .mobile-download .learn-more a:hover, .mobile-download .get-link p a:hover, .business-profile-navigation .dapper-nav-link:hover, .checkout-order-setup .field-set-label button:hover, .checkout-user-static-payment-cards .card-actions .set-default:hover, .collection-list li:hover, .dapper-nav-wrapper a.dapper-nav-link:hover, .dapper-nav-wrapper button.dapper-nav-link:hover, .dapper-nav-wrapper .prompt-button.dapper-nav-link:hover, .dapper-button, .is-select-field .dpr-select-text, button:hover, .field-set-group-label, .prompt-item:hover, .selection-cell, .business-profile-menu .menu-item:hover, .splash-view .menu-item:hover, .business-map .directions-button-wrapper .business-directions-button {
    /*cursor: pointer;*/
}
.button-text {
    opacity: 1;
}
.dpr-field {
    width: 100%;
    position: relative;
    margin-bottom: 12px;
    clear: both;
}
.dpr-field, .dpr-grouped-fields, .collection-group .collection-content, #menuItemPanel .collection-group .collection-content {
    /*background-color: #FFF;*/
}
.dpr-field-label {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 42px;
    border: 1px solid transparent;
    cursor: text;
    -moz-user-select: none;
}
.dpr-field-label, .dpr-field-input {
    /*padding: 11px 14px 10px;*/
    white-space: nowrap;
}
input.dpr-field-input, textarea.dpr-field-input {
    animation: 0.001s ease 0s normal none 1 nodeInserted;
}
.dpr-field-input {
    /*height: 42px;*/
	padding: 6px;
	color:##998383;
width: 90%;
}
.dpr-field-input, .dpr-grouped-fields, .collection-group .collection-content, #menuItemPanel .collection-group .collection-content {
   /* width: 100%;*/
    border: 1px solid rgba(40, 44, 46, 0.2);
    box-shadow: 0px 0px 0px 1px #FFF, 0px 2px 2px rgba(235, 235, 235, 0.75) inset;
}
.dpr-field-label, .dpr-field-input {
   /* padding: 11px 14px 10px;*/
    white-space: nowrap;
}
.dpr-field-input, .dpr-grouped-fields, .collection-group .collection-content, #menuItemPanel .collection-group .collection-content, .dapper-button, .is-select-field .dpr-select-text, .switch-button-group, .error-block, p.warning-message-block, p.notification-message-block, #toast .toast-container, .business-map .directions-button-wrapper .business-directions-button {
    border-radius: 3px;
}
textarea {
    resize: none;
}

input, textarea, select, button {
    outline: 0px none;
    margin: 0px;
    padding: 0px;
    border: 0px none;
    /*display: block;*/
    position: relative;
    background-color: transparent;
    /*-moz-appearance: none;*/
}
input, textarea, select, button {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}

button {
	text-shadow:none;
}

.field-set-content a{ color:#40BF15; font-weight:normal; }
.field-set-content a:hover{ color:#111111; font-weight:normal;}


.nav-bag-count {
    position: absolute;
    line-height: 1;
    background-color: #950606;
    border: 1px solid #950606;
    border-radius: 2px;
    box-shadow: 0px 1px rgba(255, 255, 255, 0.2) inset;
    top: 6px;
    padding: 1px 3px 2px;
    right: 39px;
	color:#ffffff;
}

#scrollDiv{ -webkit-overflow-scrolling: touch; }
@media screen and (max-width:800px){
	.nav-bag-count{ right: 17% !important;  }
}
@media screen and (max-width:768px){
	.nav-bag-count{ right: 16% !important;  }
}
@media screen and (max-width:360px){
	.nav-bag-count{ right: 14% !important; }
}
@media screen and (max-width:320px){
	.nav-bag-count{ right: 13% !important; }
}
.menu_head_img_div{padding:2px 6px 17px;padding-top: 14px; background:black; text-align:left; width:100%;padding-left:69px;height:29px;}

.menu_head_img_div1{padding:2px 6px 17px 5px;padding-top: 14px; background:black; text-align:center; width:100%;height:29px;}
